opencv-python
Pillow
scikit-image
albumentations
numpy
pandas
scipy
scikit-learn
torchmetrics
timm
grad-cam
matplotlib
plotly
seaborn
streamlit
tensorboard
PyYAML
hydra-core
omegaconf
tqdm
rich
jupyterlab
ipykernel
ipywidgets
notebook
pytest
black
ruff
pre-commit
python-dotenv
joblib